.underlined-pointer-cursor {
    text-decoration: underline;
}

.underlined-pointer-cursor:hover {
    cursor: pointer;
}

#twitter-icon {
    position: inherit;
    margin-bottom: -6px;
}

.NFT-Gallery-Element {
    width: 169px;
    margin: 5px;
    border: 2px solid #c9c9d1;
    border-radius: 25px;
}
.NFT-Gallery-Element:hover {
    cursor: pointer;
}
#NFT-Gallery-Container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.single-nft-container {
    border: 2px solid #c9c9d1;
    border-radius: 25px;
    text-align: center;
    background: lightgray;
    height: fit-content;
    margin: 5px;
}

.NFT-title {
    color: grey;
    margin: inherit;
    font-size: larger;
}

.NFT-collection-name {
    color: #1d9bf0;
    margin: inherit;
    font-size: larger;
    text-decoration:underline;
    margin-bottom: 14px;
}

.twitter-nft-btn {
    color: white;
    width: 40%;
    height: 28px;
    margin: 6px;
    border-radius: 25px;
    border: 1px;
    background-color: #1d9bf0;
    padding: 8px;
    text-decoration: none;
}

.discord-nft-btn {
    width: 40%;
    height: 28px;
    margin: 6px;
    border-radius: 25px;
    border: 1px;
    background-color: #777d81;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.buttons-nft-container {
    margin-bottom: 8px;
}
#connect-solana-wallet:hover {
    opacity: .6;
  }  

#connect-solana-wallet {
    margin: auto;
    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 190px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}